 <footer class="bg-white border-t border-slate-200 mt-auto py-8">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row justify-between items-center">
            <div class="flex items-center mb-4 md:mb-0">
                <div
                    class="w-6 h-6 rounded bg-gradient-to-tr from-indigo-500 to-purple-500 flex items-center justify-center text-white font-bold text-xs mr-2">
                    L
                </div>
                <span
                    class="text-lg font-bold bg-clip-text text-transparent bg-gradient-to-r from-indigo-600 to-purple-600 font-['Merriweather'] pt-1">Lee's
                    Blog</span>
            </div>
            <p class="text-sm text-slate-400">
                &copy; 2026 Lee's Blog. All rights reserved.
            </p>
            <div class="flex space-x-4 mt-4 md:mt-0">
                <a href="#" class="text-slate-400 hover:text-indigo-500"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-slate-400 hover:text-indigo-500"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </footer>